<h2>種目一覧</h2>

<div class="card">
 <div id="event_lists">
  <div class="card-header">上半身</div>
  <ul class="list-group list-group-flush">
   <%= render 'form_event1' %>
    <div class="more">
     <%= link_to_next_page @event1, 'もっと見る', remote: true, id: 'view_more' %>
    </div>
  </ul>
 </div>
</div>


<div class="card">
 <div id="event_lists">
  <div class="card-header">下半身</div>
  <ul class="list-group list-group-flush">
   <%= render 'form_event2' %>
  </ul>
 </div>
 <div class="more">
  <%= link_to_next_page @event2, 'もっと見る', remote: true, id: 'view_more' %>
 </div>
</div>


<div class="card">
 <div id="event_lists">
  <div class="card-header">体幹</div>
  <ul class="list-group list-group-flush">
   <%= render 'form_event3' %>
  </ul>
 </div>
 <div class="more">
  <%= link_to_next_page @event3, 'もっと見る', remote: true, id: 'view_more' %>
 </div>
</div>
