<div class="container">
  <div class="row mt-3 mb-3">
    <h4>種目登録画面</h4>
  </div>
</div>

<div class="card events-new">
<%= form_with model: @event, local:true do |f| %>
  <div class="form-group">
    <%= f.label 'カテゴリー', class: "ccontrol-label" %><br />
    <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: '-- 選択して下さい --', class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label '種目名', class: "control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group text-center">
    <%= f.submit '登録する', class: "btn btn-success" %>
  </div>
<% end %>

</div>
