
<% @posts.each do |post| %>
<div class="card__posts card">
  <%= attachment_image_tag post, :image, fallcack: "no_image.jpg", class: "card-img-top" %>
  <div class="card-body">
    <p class="card-title">
      <%= post.body %>
    </p>
    <h4 class="card-subtitle text-muted">
      <ul class="post-details">
        <li>By <%= post.user.name %></li><br/>
        <li>
          <% if post.favorites.count == 0 %>
            <i class="far fa-heart"></i><%= post.favorites.count %> いいね
          <% else %>
            <i class="fas fa-heart" style="color: crimson;"></i><%= post.favorites.count %> いいね
          <% end %>
         </li>
        <li><i class="far fa-comment-dots"></i>
        <% if user_signed_in? %>
          <%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %>
        <% elsif admin_signed_in? %>
          <%= link_to "#{post.post_comments.count}コメント", admin_post_path(post.id) %>
        <% else %>
          <%= post.post_comments.count %>コメント
        <% end %>
        </li>
        <li><i class="far fa-clock"></i>
          <%= post.created_at.strftime('%Y/%m/%d') %>
        </li>
      </ul>
    </h4>
  </div>
</div>
<% end %>