<div class="container">
  <div class="row">
    <div class="card-deck">
      <% @posts.each do |post| %>
      <div class="card border-dark" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">
            <%= attachment_image_tag post.user, :profile_image, format: 'jpeg', size: "100x100", class: "card-img-top"  %>
            <%= post.user.name %>
          </h5>
          <p class="card-text"><%= post.body %></p>
        </div>
        <div class="card-body">
          ♥<%= post.favorites.count %> いいね
          <% if user_signed_in? %>
            <%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %>
          <% else %>
            <%= link_to "#{post.post_comments.count}コメント", admin_post_path(post.id) %>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>



