
  <% @posts.each do |post| %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= post.user.name %></h5>
          <p class="card-text"><%= post.body %></p>
        </div>
        <%= attachment_image_tag post.user, :profile_image, format: 'jpeg', size: "100x100", class: "card-img-top"  %>
        <div class="card-body">
          ♥<%= post.favorites.count %> いいね
          <%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %>
        </div>
      </div>
    </div>
  <% end %>

  
