<div class="container">
  <!--<div class="row">-->
  <!--  <div class="col-12">-->
  <!--    <h1 class="page-title collapse2 animate__animated animate__bounceInDown">Trecords</h1>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="row">-->
  <!--  <div class="col-12">-->
  <!--    <p class="page-title-translate collapse3 animate__animated animate__backInRight">すべての投稿</p>-->
  <!--  </div>-->
  <!--</div>-->
  <div class="posts row animate__animated animate__fadeInUpBig">
    <% @posts.each do |post| %>
      <div class="col-3"></div>
      <div class="col-8 post-container">
        <div class="post-image text-center collapse4">
          <%= link_to post_path(post.id) do%>
            <%= attachment_image_tag post, :image, width: "100%", height: "100%", fallcack: "no-image.jpg" %>
          <% end %>
        </div>
        <div class="block-content collapse5">
          <%= link_to user_path(post.user_id) do %>
            <%= attachment_image_tag post.user, :profile_image, class: "rounded-circle", size:"70x70" ,fallback:"no_image.jpg" %>
          <% end %>
          <h4 id="post-title">
            <%= post.body %>
          </h4><br>
          <ul class="post-details">
            <li>By <%= post.user.name %>　</li>
            <li>
              <% if post.favorites.count == 0 %>
                <i class="far fa-heart"></i>
              <% else %>
                <i class="fas fa-heart" style="color: crimson;"></i>
              <% end %>
               <%= post.favorites.count %> いいね
             </li>
            <li><i class="far fa-comment-dots"></i>
            <% if user_signed_in? %>
              <%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %>
            <% else %>
              <%= link_to "#{post.post_comments.count}コメント", admin_post_path(post.id) %>
            <% end %>
            </li>
            <li><i class="far fa-clock"></i> <%= post.created_at.strftime('%Y/%m/%d') %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>