<% @posts.each do |post| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= post.user.name %></h5>
    <p class="card-text"><%= post.body %></p>
  </div>
  <%= attachment_image_tag post.user, :profile_image, format: 'jpeg', fallback: "no_image.png", size: "100x100", class: "card-img-top"  %>
  <div class="card-body">
    <%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %>
  </div>
</div>
<% end %>
<%= paginate @posts %>