<div class="post-body">
  <%= attachment_image_tag @post.user, :profile_image, format: 'jpeg', fallback: "no_image.png", size: "100x100"  %>
  <%= @post.user.name %>
  <%= @post.body %>

  <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<div class="post-new-comment">
  <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit '送信する' %>
  <% end %>
</div>

<div class="post-comment">
  <p>コメント件数 : <%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
  <table>
    <tr>
      <td><%= post_comment.user.profile_image %> <%= post_comment.user.name %></td>
      <td><%= post_comment.comment %></td>
      <td>
        <% if post_comment.user == current_user %>
        <div class="comment-delete">
          <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
        </div>
        <% end %>
      </td>
    </tr>
  </table>
  <% end %>
</div>