<div class="container users-title">
  <div class="row">
    <div class="col-12">
      <h1 class="page-title collapse2 animate__animated animate__bounceInDown">Post</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="page-title-translate collapse3 animate__animated animate__backInRight"><%= @post.user.name %>さんの投稿</p>
    </div>
  </div>

  <div class="error--message">
  <% if @post_comment.errors.any? %>
    <%= @post_comment.errors.count %>件のエラーが発生しました
    <% @post_comment.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  </div>

  <div class="posts">
    <div class="card__posts card">
    <%= attachment_image_tag @post, :image, fallcack: "no_image.jpg", class: "card-img-top" %>
    <div class="card-body">
      <p class="card-title">
        <%= @post.body %>
      </p>
      <h4 class="card-subtitle text-muted">
        <ul class="post-details">
          <li>By <%= @post.user.name %></li><br/>
          <li>
            <% if @post.favorited_by?(current_user) %>
              <%= link_to post_favorites_path(@post), method: :delete do %>
                <i class="fas fa-heart" style="color: crimson;"></i><%= @post.favorites.count %> いいね
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(@post), method: :post do %>
                <i class="far fa-heart"></i><%= @post.favorites.count %> いいね
              <% end %>
            <% end %>
           </li>
          <li><i class="far fa-comment-dots"></i>
          <% if user_signed_in? %>
            <%= link_to "#{@post.post_comments.count}コメント", post_path(@post.id) %>
          <% else %>
            <%= link_to "#{@post.post_comments.count}コメント", admin_post_path(@post.id) %>
          <% end %>
          </li>
          <li><i class="far fa-clock"></i> <%= @post.created_at.strftime('%Y/%m/%d') %></li>
          <li>
          <% if current_user.id == @post.user_id %>
            <%= link_to '編集', edit_post_path(@post), class: "btn btn-primary" %>
          <% end %>
          </li>
        </ul>
      </h4>
    </div>

    <div class="post-comment mt-5">
      <% @post.post_comments.each do |post_comment| %>
      <table class="table table-hover ">
        <tr>
          <th>
            <%= attachment_image_tag post_comment.user, :profile_image, size: "40x40" %>  <%= post_comment.user.name %>
          </th>
          <th class="text-center"><%= post_comment.comment %></th>
          <th class="text-right">
            <% if post_comment.user == current_user %>
              <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
            <% end %>
          </th>
        </tr>
      </table>
      <% end %>
    </div>
    <div class="form-group mt-5">
      <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
        <%= f.text_area :comment,　placeholder: "コメントを入力する", class: "form-control" %>
        <div class="comment--btn">
          <%= f.submit '投稿する', class: "btn btn-primary btn-lg t-center" %>
        </div>
      <% end %>
    </div>
  </div>
</div>