<h4>種目編集ページ</h4>

<%= form_with model: [:admin, @event], local:true do |f| %>
<table>
  <tr>
    <th><%= f.label 'カテゴリー' %></th>
    <td>  <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: '-- 選択して下さい --' %></td>
  </tr>
  <tr>
    <th><%= f.label '種目名' %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th><%= f.submit '変更を保存' %></th>
    <th><%= link_to '削除する', admin_event_path(@event), method: :delete %></th>
  </tr>
</table>
<% end %>