<div class="container">
  <div class= 'homes__calender'>
    <% if user_signed_in? %>
      <%= month_calendar events: @records do |date, records| %>
          <%= date.day %>
          <% records.each do |record| %>
            <%= link_to record_path(record) do %>
              <%= record.comment %>
            <% end %>
          <% end %>
      <% end %>
    <% else %>
      <%= month_calendar do |date| %>
          <%= date.day %>
        <% end %>
    <% end %>
  </div>
  
  <div class="homes__btn text-center mt-3 mb-5">
    <%= link_to 'トレーニングを追加', new_record_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
</div>
