<h4>投稿一覧画面</h4>

<% @posts.each do |post| %>
<div>
  <div>
    <p><%= attachment_image_tag @user, :profile_image, fallback: "no_image.png", size: "100x100" %> <%= post.user.name %> </p>
  </div>
  <div>
    <p><%= post.body %></p>
    <p><%= attachment_image_tag @post, :image, size: "200x200" %></p>
  </div>
  <div>
    <p>♡<%= post.favorites.count %>いいね　　<%= post.post_comments.count %>コメント</p>
  </div>
</div>
<% end %>