<div class="new-record＿Box">
  <%= form_with(model: record, local: true) do |f| %>
    <% if record.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

            <ul>
            <% record.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :"記録タイトル ※必須" %>
          <%= f.text_field :comment, placeholder: "どんなトレーニングをしましたか？",class: "form-control" %>
        </div>

      <div class="d-flex justify-content-between">
      <%= link_to_add_association 'メニュー追加', f, :training_records,
        class: 'btn btn-success  ml-1 p-1',
        data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'append' }
      %>
      </div>

      <div class="form-group" id='detail-association-insertion-point'>
        <%= f.fields_for :training_records do |training_record| %>
          <%= render 'training_record_fields', f: training_record %>

        <% end %>
      </div>
      <div class="Date_form">
        <div class="field mr-5">
          <%= f.label :"開始日" %>
          <%= f.datetime_select :start_time %>
        </div>
      </div>

    <div class="input">
      <%= f.submit "トレーニングを保存" , id: "new-record", class: "btn btn-success"%>
    </div>
  <% end %>
</div>
