<div class="container new-record＿Box">
  <div class="row record__field">
  <%= form_with(model: record, local: true) do |f| %>
      <% if record.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

          <ul>
          <% record.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col record__field--item">
        <%= f.label "記録タイトル ※必須" %>
        <%= f.text_field :comment, placeholder: "どんなトレーニングをしましたか？",class: "form-control" %>
      </div>

      <div class="col record__field--item">
        <%= f.label '日付 ※必須' %>
        <%= f.datetime_select :start_time, {discard_year: true, discard_hour: true, discard_minute: true} %>
      </div>

      <div class="col record__field--item">
      <%= link_to_add_association 'メニュー追加', f, :training_records,
        class: 'btn btn-success mt-3 p-1 ',
        data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'append' }
      %>
      <%= link_to '種目を追加する', new_event_path, class: "btn btn-outline-dark mt-3  ml-3" %>
      </div>

      <div class="form-group" id='detail-association-insertion-point'>
        <%= f.fields_for :training_records do |training_record| %>
          <%= render 'training_record_fields', f: training_record %>
        <% end %>
      </div>
    <div class="input">
      <%= f.submit "トレーニングを保存" , id: "new-record", class: "btn btn-success ml-3"%>
    </div>
  <% end %>
  </div>
</div>
