<table>
<% @record.training_records.each do |training_record| %>
    <thead>
        <tr>
           <th><%= training_record.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>重量</th>
            <th>回数</th>
            <th>RM</th>
        </tr>
        <tr>
        <% training_record.set_events.each do |set_event| %>
            <td><%= set_event.weight %></td>
            <td><%= set_event.rep %></td>
            <td><%= ((set_event.weight * set_event.rep / 40 ) + set_event.weight) %></td>
        </tr>
        <% end %>
    </tbody>
<% end %>
</table>
<%= button_to '削除', record_path(@record), method: :delete %>
