<%= link_to '一覧に戻る', records_path %>

<div id="star-rate-<%= @record.id %>"></div>
  <script>
  $('#star-rate-<%= @record.id %>').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= @record.rate %>,
  });
  </script>
</div>

<% @record.training_records.each do |training_record| %>
<div class="card">
    <table class="records-table table table-striped">
        <thead class="bg-success">
            <tr>
               <th colspan="4">
                   <%= training_record.name %> <%= link_to '削除', record_path(@record), method: :delete, class: "btn btn-danger btn-sm ml-3" %>
               </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">重量</th>
                <th scope="col">回数</th>
                <th scope="col">RM</th>
            </tr>
            <tr>
            <% training_record.set_events.each do |set_event| %>
                <td><%= set_event.weight %> Kg</td>
                <td><%= set_event.rep %> 回</td>
                <td><%= ( (set_event.weight * set_event.rep / 40 ) + set_event.weight) %> Kg</td>
            <% end %>
            </tr>
        </tbody>
    </table>
</div>
<% end %>