<div class="new-record" id="new-record">
  <div class="new-record＿Box">
    <div class="container users-title">
      <div class="row">
        <div class="col-12">
          <h1 class="page-title collapse2"><%= @record.comment %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="page-title-translate collapse3"><%= @record.created_at.strftime('%m月%d日') %>のトレーニング</p>
        </div>
      </div>
    </div>
</div>

<div class="user__record">
  <div class="record--btn">
  <% if user_signed_in? && @user == current_user %>
    <%= link_to '削除', record_path(@record), method: :delete, class: "btn btn-danger ml-3" %>
  <% end %>
    <%= link_to '一覧に戻る', root_path, class: "btn btn-primary" %>
  </div>

    <% @record.training_records.each do |training_record| %>
    <div class="card card__record">
        <table class="records-table table table-striped">
            <thead class="card__record-head">
                <tr>
                   <th colspan="4" class= "text-center">
                      <%= training_record.name %>
                   </th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="col">重量</th>
                    <th scope="col">回数</th>
                    <th scope="col">RM</th>
                </tr>
                <% training_record.set_events.each do |set_event| %>
                <tr>
                    <td><%= set_event.weight %> Kg</td>
                    <td><%= set_event.rep %> 回</td>
                    <td><%= set_event.max %> Kg</td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <% end %>
</div>
