<table>
    <thead>
        <tr>
            <th>種目名</th>
            <th>重量</th>
            <th>回数</th>
            <th>セット</th>
        </tr>
    </thead>
<% @training_records.each do |training_record| %>
    <tbody>
        <tr>
            <td><%= training_record.event.name %></td>
            <td><%= training_record.weight %></td>
            <td><%= training_record.rep %></td>
            <td><%= training_record.set %></td>
        </tr>
    </tbody>
<% end %>
</table>
<%= button_to '削除', record_path(@record), method: :delete %>
