<h4>投稿編集画面</h4>

<%= form_with model: [:admin, @post], local:true do |f| %>
  <div>
    <%= f.label '投稿内容' %>
  </div>
  <div>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit '変更を保存' %>
  </div>
  <div>
    <%= link_to '削除する', admin_post_path(@post), method: :delete %>
  </div>
<% end %>