<div class="post container">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <table>
          <tr>
            <td>
               <%= attachment_image_tag @post.user, :profile_image, format: "jpeg", size: "60x60", fallback: "no_image.jpg", class: "img-circle" %>
            </td>
            <td></td>
            <td>
              <%= @post.user.name %><br />
              <%= @post.post_comments.count %> コメント
              ♥<%= @post.favorites.count %> いいね
            </td>
          </tr>
        </table>
      </div>
      <div class="card-body">
        <p class="card-text"><%= @post.body %></p>
        <%= attachment_image_tag @post.user, :profile_image, format: 'jpeg',  fallback: "no_image.png", size: "200x180", class: "bd-placeholder-img card-img-bottom " %>
      </div>
    </div>
  </div>


  <div class="post-comment mt-5">
    <table class="table table-bordered post-comments">
    <% @post.post_comments.each do |post_comment| %>
      <tr>
        <th class="user-name">
          <img src="<%= post_comment.user.profile_image %>" >, <%= post_comment.user.name %>
        </th>
        <th class="text-center"><%= post_comment.comment %></th>
        <th class="text-right post-delete">
          <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-danger" %>
        </th>
      </tr>
    <% end %>
    </table>
  </div>

</div>