<%= flash[:error] %>

<div class="user--signin">
<%= form_with model: @admin, url: admin_session_path, class: "form-signin", local:true do |f| %>
  <%= image_tag 'trecord.jpg', :size => '150x150' %>
    <h1 class="h3 mb-3 font-weight-normal text-center">Admin Sign In</h1>
      <%= f.label 'メールアドレス', class: "sr-only" %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "Email address", autocomplete: "email", class: "form-control" %>
      <%= f.label 'パスワード', class: "sr-only" %><br />
      <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password", class: "form-control" %>
    <% if devise_mapping.rememberable? %>
    <div class="checkbox mb-3 mt-3 text-left">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end %>
    <%= f.submit "ログイン", class: "btn btn-lg btn-primary btn-block" %>
    <p class="mt-5 mb-3 text-muted ">&copy; 2021- </p>
  <% end %>
</div>
