<h4>本日のトレーニング</h4>

<%= link_to '記録を全て削除する', destroy_all_set_events_path, method: :delete %>

<table>
  <thead>
    <tr>
      <th>種目名</th>
      <th>重量</th>
      <th>回数</th>
      <th>セット</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @set_events.each do |set_event| %>
    <tr>
      <%= form_with url: set_event_path(set_event), method: :patch, local:true do |f| %>
      <td><%= set_event.event.name %></td>
      <td>
        <%= f.number_field :weight, value: set_event[:weight] %>
      </td>
      <td>
        <%= f.number_field :rep, value: set_event[:rep] %>
      </td>
      <td>
        <%= f.number_field :set, value: set_event[:set] %>
      </td>
      <td>
        <%= f.hidden_field :event_id, value: set_event.event_id %>
        <%= f.submit '変更' %>
      </td>
      <td>
        <%= link_to '削除', set_event_path(set_event), method: :delete %>
      </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<ul>
  <li><%= link_to '種目選択画面に戻る', events_path %></li>
  <li><%= link_to 'トレーニングを終了する', new_record_path %></li>
</ul>