<div class="comment-title">
  <h6>コメント<%= post.comments.count %>件</h6>
</div>
  <div class="more">
    <% if post.comments.count >= 5 %><!-- 比較演算子を用いた表示条件式　/ aがb以上である時のみ表示 -->
    <h6 class="text-muted btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Show more...
    </h6>
    <% end %>
  </div>
  <!-- コメント２件分の記述 -->
    <% post.comments.first(5).each do |post| %>
      <div class="comment-index clearfix">
        <div class="comment-avatar float-left">
          <%= link_to user_path(post_comment.user) do %>
            <%= attachment_image_tag post_comment.user, :profile_image, class: "rounded-circle", size:'50x50', fallback: "no_image.jpg" %>
          <% end %>
        </div>
        <div class="comment-text float-left">
          <span><%= post_comment.user.name %></span>
          <div class="comment-entry">
            <%= post_comment.comment %>
            <% if post_comment.user == current_user %>
              <%= link_to post_comment_path(post_comment.post.id, post_comment.id), method: :delete, remote: true do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <span class="text-muted font-weight-lighter float-right" style="font-size: 13px;">
          <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        </span>
      </div>
    <% end %>
  <!-- コメント5件目以降の記述 -->
    <div class="collapse" id="collapseExample">
      <% post.comments.offset(5).each do |post| %>
      <div class="comment-index clearfix">
        <div class="comment-avatar float-left">
          <%= link_to user_path(post_comment.user) do %>
            <%= attachment_image_tag post_comment.user, :profile_image, class: "rounded-circle", size:'50x50', fallback: "no_image.jpg" %>
          <% end %>
        </div>
        <div class="comment-text float-left">
          <span><%= post_comment.user.name %></span>
          <div class="comment-entry">
            <%= post_comment.comment %>
            <% if post_comment.user == current_user %>
              <%= link_to post_comment_path(post_comment.post.id, post_comment.id), method: :delete, remote: true do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <span class="text-muted font-weight-lighter float-right" style="font-size: 13px;">
          <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        </span>
      </div>
    <% end %>
  </div>