<div class="container users-title">
  <div class="row">
    <div class="col-12">
      <h1 class="page-title">Edit</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="page-title-translate">登録情報編集</p>
    </div>
  </div>
</div>


<%= form_with model: @user, url: "/#{@user.name}", local:true do |f| %>
<div class="container">
  <div class="row profile__edit">
    <div class="col">
      <div class="form-group">
        <%= f.label 'プロフィール画像', class: "exampleFormControlFile1" %>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "form-control-file" %>
      </div>

      <div class="form-group">
        <%= f.label :tag_ids, "タグ機能" %><br/>
        <span>
          <% Tag.all.each do |tag| %>
            <%= f.check_box :tag_ids, { multiple: true, checked: @user.tags.find_by(id: tag.id).present?, include_hidden: false } ,tag[:id] %>
            <label class="form^check-label">
              <%= tag.name %>
            </label>
          <% end %>
        </span>
      </div>

      <div class="form-group">
        <%= f.label 'Name' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label 'E-mail' %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label 'About' %>
        <%= f.text_area :introduction, class: "form-control" %>
      </div>

      <div class="profile__edit--btn">
        <%= f.submit '変更を保存', class: "btn btn-success mb-2 w-25" %>
        <%= link_to '退会する', "/#{current_user.name}/unsubscribe", class: "btn btn-danger ml-3 mb-2 w-25" %>
      </div>

    </div>
  </div>
</div>
<% end %>