
<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">一覧</h6>
  <div class="media text-muted pt-3">
  <% if @users.any? %>
    <% @users.each do |user| %>
      <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg",width: "48", height: "48", class: "mr-2 rounded" %>
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">
            <%= link_to "/#{user.name}" do %>
              <%= user.name %>
            <% end %>
          </strong>
          <div class="follow-button">
          <% if logged_in? && current_user != @user %>
            <% if current_user.following?(@user) %>
              <%= button_to 'フォロー解除', relationship_path(current_user.relationships.find_by(follower: @user)), method: :delete, class: "btn btn-primary" %>
            <% else %>
              <%= button_to 'フォロー', relationships_path(follower: @user), class: "btn btn-outline-primary" %>
            <% end %>
          <% end %>
          </div>
        </div>
        <span class="d-block">
          <%= link_to posts_path(user) do %>
            <%= user.posts.count %> Post
          <% end %>
          <%= link_to following_path("#{user.name}") do %>
            <%= user.followers.count %> Follower
          <% end %>
          <%= link_to follower_path("#{user.name}") do %>
            <%= user.followings.count %> Following
          <% end %>
        </span>
        <span class="d-block">
          <%= user.introduction %>
        </span>
      </div>
    <% end %>
  <% end %>
  </div>