<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<table>
  <tr>
    <td rowspan="3"><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.png", size: "100x100" %></td>
    <td><%= @user.name %>  </td>
  </tr>
  <tr>
    <td><strong><%= @user.followings.count %></strong> フォロー中</td>
  </tr>
  <tr>
    <td><strong><%= @user.followers.count %></strong> フォロワー</td>
  </tr>
</table>

<table>
  <tr>
    <td colspan="5" rowspan="5"><%= @user.introduction %></td>
  </tr>
</table>

<%= link_to '投稿一覧', posts_path %>

<% if logged_in? && current_user != @user %>
  <% if current_user.following?(@user) %>
    <%= button_to 'フォローをやめる', relationship_path(current_user.relationships.find_by(follower: @user)), method: :delete %>
  <% else %>
    <%= button_to 'フォローする', relationships_path(follower: @user) %>
  <% end %>
<% end %>



<% if user_signed_in? && @user == current_user %>
  <%= link_to "プロフィール編集", "/#{current_user.name}/edit" %>
<% end %>

<% @posts.each do |post| %>
<div>
  <%= post.body %>
  <%= attachment_image_tag post.user, :profile_image, size: "100x100"  %>
  <%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %>
</div>
<% end %>

<%= paginate @posts %>