<!DOCTYPE html>
<html>
  <head>
    <title>Trecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
    <% if user_signed_in? %>
      <li>ようこそ、<%= current_user.name %>!</li>
      <li><%= link_to 'マイページ', mypage_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to '投稿一覧', posts_path %></li>
      <li><%= link_to 'トレーニング一覧', records_path %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>

    <% elsif admin_signed_in? %>
      <li><%= link_to '会員一覧', admin_root_path %></li>
      <li><%= link_to '投稿一覧', admin_root_path %></li>
      <li><%= link_to '種目一覧', admin_root_path %></li>
      <li><%= link_to 'タグ一覧', admin_root_path %></li>
      <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>

    <% else %>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to '投稿一覧', posts_path %></li>
      <li><%= link_to '新規会員登録', new_user_registration_path %></li>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
    <% end %>
    </ul>

    <%= yield %>
  </body>
</html>
